body {
    background-color: whitesmoke;
}

#lists-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #e0e6dc;  

    .to-do-container {
        width: 100%;
        padding: 2vh;

        ul {    
            padding: 0;

            .task-card {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: #c0ddc4;
                padding: 2vh;
                margin-top: 1 vh;
                margin-bottom: 1vh;


                button {
                    margin-right: auto;
                }
            }
        }
    }
    
}
